AUTH_SECRET=your_super_secret_key_here
AUTHENTIK_CLIENT_ID=
AUTHENTIK_ISSUER=https://pnb-auth-stage.isupay.in/application/o

NEXTAUTH_URL=http://localhost:3000
NEXT_PUBLIC_PAYLOAD_ENCRYPTION_KEY=
NEXT_PUBLIC_PASS_KEY=
NEXT_PUBLIC_API_BASE_URL=https://auth-dev-stage.iserveu.online